/* reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: black;
}

/* classi comuni */

.flex-container {
    display: flex;
}

.description-grid {
    color: white;
    padding: 0.3rem 0.5rem;
    background-color: darkgrey;
}

/* header */

header {
    min-width: 210px;
    height: 10vh;
    gap: 20px;
    padding: .3rem;
    align-items: flex-start;
    flex-direction: row-reverse;
}

header div {
    border-radius: 3px;
}


/* main */

section {
    min-width: 200px;
    width: 90%;
    margin: auto;
    overflow: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.one-grid {
    height: 20vh;
    flex: 0 0 12vw;
    min-width: 150px;
    align-items: flex-end;
    background-size: 100% 100%;
    background-image: url(../img/mountain-snow.jpg);
}

/* footer */

footer {}